.content{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.item{
    cursor: pointer;
    margin: 5px 4px;
    font-size: 26px;
}
i{
    color: #aaa;
}
.active-link{
    i{
        color: #225590;
    }
}