<div class="content">
    <div class="item" [ngClass]="{'active-link': statusFlagsObject.dashboardMenu==true}">
        <i class="fas fa-tachometer-alt item" (click)="menuClick('dashboardMenu')"></i>
    </div>
    <div class="item" [routerLink]="['/consigmentdetails']" [ngClass]="{'active-link': statusFlagsObject.reportsMenu==true}">
        <i class="fas fa-tachometer-alt item" (click)="menuClick('reportsMenu')"></i>
    </div>
    <div class="item" [ngClass]="{'active-link': statusFlagsObject.analyticsMenu==true}">
        <i class="fas fa-tachometer-alt item" (click)="menuClick('analyticsMenu')"></i>
    </div>
    <div class="item" [ngClass]="{'active-link': statusFlagsObject.performanceMenu==true}">
        <i class="fas fa-tachometer-alt item" (click)="menuClick('performanceMenu')"></i>
    </div>
</div>